.col-4{
	width: 33.3333%;
}


@media (max-width:800px){
	
/*
Barra de navegación temporalmente oculta, 
hasta redimensión de la misma.
 */	#nav{
		display:none;
	}

	.col-4{
		width: 100%;
	}

	#task_display{
		text-align:center;
	}
}