
	/*
	=====================================================================
	*/

	.display_screen, .display_medium{
		display: none;
	}
	.display_mobile{
		display: block;
	}


	html{
		background-color: #eee;
		height: 100%;
	}
	body{

		width: 100%;
		background-color: #eee;

		min-height: 100%;
	}

		/*
		original viewports
	=============================================================================
	*/


	/*Contenido Principal______________________________________________*/
	body > #main{
		background-image: url(../img/mosaicoImago.svg);
		background-size: 50px;
		
		background-repeat: repeat;
		background-attachment: fixed;
		background-position: top;
		
		padding-top: 120px;
		padding-bottom: 120px;

		margin:  0 0em 0em 0;
		margin-left: 0;
	}
	body > #main section, 
	body > #main .modulo_principal{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		min-height: 200px;
		background-color: rgba(255,255,255,0.8);

		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0em;
	}



	/* main en inicio.php 
	INICIO DE SESION _______________________________________________*/
	/*
	body > #main.inicio{
		padding: 0;
		margin: 0;

		height: 100%;
		width: 100%;
		position:fixed;
	}
		body > #main.inicio section{
			padding: 10% 2em;
			min-height: 100%;

			text-align: center;

			background-image: url(../img/corchoboard_2.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: bottom center; 
			

		}

		body > #main.inicio section img{
			width: 100px;

			padding: .5em;
			background-color: #fff;
		}

		body > #main.inicio section .web-desc{
			width: 300px;
			border-radius: 2em 2em 0 0;
			padding: 1em .2em;
			margin: .5em auto;
			background-color: rgba(0,0,0,0.3);
		}
		body > #main.inicio section .web-desc p{
			line-height: 2em;
			font-style: italic;
			font-weight: lighter;
			font-size: 1.2em;
			color: #300;
		}
		*/
		/*===========================================================*/


		/*Cabecera*/
		body > header{
			width: 100%;
			height: 54px;

			background-color: transparent;

			position: fixed;
			top: 0;
			z-index: 2;

			border-bottom: none;
			text-align: center;
			vertical-align: medium;

			/*
			padding-top: 10px;
			*/
		}
		body > header .logo{
			float:left;
			width: 60px;
			height: 64px;
		}

		body > header .logo img{
			width: 50px;
			margin: 8px 4px 4px 4px;
		}

		/*Navegacion*/
		body > header nav{
			float:left;
		}

		body > header .header-bt{
			display: inline-block;
			padding: 10px;
			
			height: 18px;
			width: 18px;
			
			background-color: rgba(255,255,204,1);
			text-decoration: none;
			text-align: center;

			/*font-size: 1.5em;*/
			font-size: 1em;
			font-weight: bolder;
			color: #909090;

			border: 1px solid #eee;
			border-radius: .2em;
		}
		body > header .header-bt:hover{
			border-color: #f00;
		}

		body > header #system_msg_bt{
			position: absolute;
			color: #f00;
			right: 10px;
		}

		/* Mensajes del sistema */
		body > #site_msg{
			position: fixed;
			/*top:0; original escritorio */
			/*top: 70px; */
			top: 54px;

			right: 10px;

			max-width: 300px;

			z-index: 8;
			text-align: right;
		}
		body > #site_msg .msj{
			display: inline-block;

			margin: .2em 0;
			padding: .4em;

			border-radius: .5em;
			border-bottom: 1px #f60 solid;
			border-right: 1px #f60 solid;

			background-color: #ffa;
		}

		body > #site_msg .msj a{
			margin-right: .3em;
			text-decoration: none;
			color: #f00;
			font-weight: bold;
		}

		/*Contenido Principal*/
		body > #main{

			margin:  0 0em 4em 60px;
			margin-left: 0;
			padding-top: 80px;
			min-height: 100%;
		}
		body > #main section{
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;

			min-height: 100px;
			max-height: 300px
			background-color: rgba(255,255,255,0.8);
		}
		body > #main section .article_group{
			height: 240px;
			overflow: hidden;
		}

		body > #main section header{	
			text-align: right;
			color: #808080;

		/*	background-color: red;*/
		}
			body > #main section header h2{
				display: inline-block;
				padding: .2em 1em .2em 2em;
			}
			body> #main section header menu{
				display: inline-block;
				text-align: right;
				min-height: 1em;
			}
			body> #main section header .menu_bar{
				float: none;
			}

				body > #main section header .menu_bar .menu_item{
					margin: 2px;
				}
				body > #main section header .menu_bar .menu_item a{
					width: 50px;
					height: 30px;
					
					background-color: #fff;

					border-radius: 20%;
					border: 1px outset #eee;
				}
				
				body > #main section header .menu_bar .menu_item a:hover{

					color: #fff;
					background-color: #f00;

					border: 1px outset #eee;
				}
				body > #main section header .menu_bar .menu_item a:active{
				/*
					color: #fff;
					background-color: #f00;
				*/
					border: 2px inset #eee;
					width: 48px;
					height: 28px;
				}

		body > #main section menu{
			text-align: center;
			min-height: 50px;

		/*	background-color: red;*/
		}
		body > #main section article{
			width: 100%;
			padding: .5em;
			float: none;
/*
			background-color: #ddd;
			*/
		}
		/*Aside - barra de herramientas */
/*	
	body > aside{
		position: fixed;
		left: 0;
		bottom: 0;

		min-height: 50px;
		width: 60px;

		z-index: 2;
	}
		body > aside menu{
			width: 100%;
			float: left;
		}
		body > aside 
	*/	

body > aside{
	position: absolute;
	z-index: 2;
	left: -100%;
	
	width: 100%;
	min-height: 100%;
	background-color: #faf;
}
	body > aside .botonera{
		position: fixed;
		bottom: 10px;
		left: 5px;
		width: 60px;
	}

	/*Pie*/
	body > footer{
		height: 3em;
		/* margin-left: 4em; */
		margin:  0em 0em 0em 64px;
		margin-left: 0;

		/* min-width: 80%; */
		background-color: #fff;

		z-index: 1;
	}

	/* POP-MENU */

	body > #pop-menu{


		position:absolute;
		top:0;

		min-width: 100%;
		min-height: 100%;
		background-color: #f55;

		z-index: 10;
	}

	#pop-menu .menu_pop{
		text-align: right;
	}
	#pop-menu .menu_pop h2{
		display: inline-block;
	}
	#pop-menu .menu_pop .tag_pop{
		display: inline-block;
		color:#AA0000;

		font-weight: lighter;

	}
	#pop-menu .menu_pop .tag_pop:after{
		content: "|";
		margin: 0 .5em;

	}
	#pop-menu .menu_pop a{
		display: inline-block;
		text-decoration: none;
		text-align: center;
		
		font-size: 2em;
		font-weight: bold;
		color: #000;
		
		border: 2px dotted #000;

		height: 30px;
		width: 30px;
		padding: 5px;
		margin: 4px;

	}

	#pop-menu .menu_pop a:hover{
		color: #fff;
		border-color: #300000;
		background-color: #f00;
	}


/*--------------------------------*/

	.display_mobile h1{
		color: #ccc;
		background-color: #fff;
		border: #ccc 1px solid;
		font-size: 1.2em;
		margin: 0.5em 0;
		padding: 0.2em 0;
	}

	#mobile_nav_container{
		display:none;

		width: 90%;
		min-height: 200px;

		background-color: #ffcccc;
		border: #f00 solid 1px;
		margin: 0 5%;
		
		position: absolute;

		top: 100px;
	}
#mobile_nav_container .nav_bar{
	display:block;
	margin: 5%;
		background-color: #ffeeee;
		width: 80%;
		padding: 5%;
}
#mobile_nav_container .nav_bar .nav_item{
	min-width: 47%;
	border: 3px #ffdddd outset;
}
	.header-bt.exit-header-bt,.header-bt.close-header-bt{
		display:none;
	}

	#mobile_menu_container{
		display:none;	

		position: fixed;
		z-index: -1;
		width: 100%;
		min-height: 100%;

		background-color: #ffcccc;
		border: #f00 solid 1px;
		margin: 0;


		top: 0;
		left:0;
	}
	#mobile_menu_container .menu_bar{
	display:block;
	margin: 5%;
		background-color: #ffeeee;
		width: 80%;
		padding: 5%;
}


/*
=====================================================================
*/
@media(min-width:320px){
	.display_screen, .display_medium{
		display: none;
	}
	.display_mobile{
		display: block;
	}
	
	body > #main section article{
		width: 320px;
		float:left;
		padding: .5em;

	}
}
@media(min-width:640px){
	.display_medium, .display_screen{
		display: none;
	}
	.display_mobile{
		display:block;
	}
}





@media(min-width:1024px){
	.display_mobile, .display_screen{
		display: none;
	}
	.display_medium{
		display:block;
	}

	/*Cabecera____________________________________________*/
	body > header{
		width: 100%;
		height: 54px;
		background-color: #fff;

		position: fixed;
		top: 0;
		z-index: 2;

		border-bottom: 2px #eee solid;
		padding-top: 10px;
	}
	body > header .logo{
		float:left;
		width: 60px;
		height: 64px;
	}
	body > header .logo img{
		width: 50px;
		/*height: 50px;
		*/
		margin: 8px 4px 4px 4px;
		/*background-color: #f00;*/

		/*border-radius: 3em;
		border: 1px outset #eee;*/
	}

	/*Navegacion*/
	body > header nav{
		float:left;
	}

	body > header .header-bt{
		display: inline-block;
		padding: 10px;
		
		height: 18px;
		width: 18px;

		text-decoration: none;
		text-align: center;

		/*font-size: 1.5em;*/
		font-size: 1em;
		font-weight: bolder;
		color: #909090;

		border: 1px solid #eee;
		border-radius: .2em;
	}
	body > header .header-bt:hover{
		border-color: #f00;
	}

	body > header #system_msg_bt{
		position: absolute;
		color: #f00;
		right: 10px;
	}

	/* Mensajes del sistema */
	body > #site_msg{
		position: fixed;
		/*top:0; original escritorio */
		/*top: 70px; */
		top: 54px;

		right: 10px;

		max-width: 300px;

		z-index: 8;
		text-align: right;
	}
	body > #site_msg .msj{
		display: inline-block;

		margin: .2em 0;
		padding: .4em;

		border-radius: .5em;
		border-bottom: 1px #f60 solid;
		border-right: 1px #f60 solid;

		background-color: #ffa;
	}

	body > #site_msg .msj a{
		margin-right: .3em;
		text-decoration: none;
		color: #f00;
		font-weight: bold;
	}

	/*Contenido Principal*/
	body > #main{
		min-height: 100%;

		padding-top: 60px;
		padding-bottom: 120px;

		margin:  0 0em 0em 0;
		margin-left: 0;
	}

	body > #main section, body > #main .modulo_principal{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		min-height: 100px;
		max-height: 450px;
		background-color: rgba(255,255,255,0.8);

		margin-bottom: 1em;
		padding: 0 5em;
	}

	body > #main section .article_group{
		height: 340px;
		overflow: hidden;
	}

	body > #main section header{	
		text-align: right;
		color: #808080;

		/*background-color: red;*/
	}
	body > #main section menu{
		text-align: center;
		min-height: 50px;

	/*	background-color: red;*/
	}


	/*Aside - barra de herramientas */
body > aside{
	position: absolute;
	z-index: 2;
	left: -100%;
	
	width: 100%;
	min-height: 100%;
	background-color: #faf;
}
	body > aside .botonera{
		position: fixed;
		bottom: 10px;
		left: 5px;
		width: 60px;
	}

/*
	body > aside{
		position: fixed;
		left: 0;
		top: 120px;
		min-height: 50px;
		width: 60px;

		z-index: 2;
	}
	body > aside menu{
		width: 100%;
		float: left;
	}
*/

	/*Pie*/
	body > footer{
		height: 3em;
		/* margin-left: 4em; */
		margin:  0em 0em 0em 64px;
		margin-left: 0;

		/* min-width: 80%; */
		background-color: #fff;

		z-index: 1;
	}

	/* POP-MENU */

	body > #pop-menu{


		position:absolute;
		top:0;
		
		min-width: 100%;
		min-height: 100%;
		background-color: #f55;

		z-index: 10;
	}

	#pop-menu .menu_pop{
		text-align: right;
	}
	#pop-menu .menu_pop h2{
		display: inline-block;
	}
	#pop-menu .menu_pop .tag_pop{
		display: inline-block;
		color:#AA0000;

		font-weight: lighter;

	}
	#pop-menu .menu_pop .tag_pop:after{
		content: "|";
		margin: 0 .5em;

	}
	#pop-menu .menu_pop a{
		display: inline-block;
		text-decoration: none;
		text-align: center;

		font-size: 2em;
		font-weight: bold;
		color: #000;

		border: 2px dotted #000;

		height: 30px;
		width: 30px;
		padding: 5px;
		margin: 4px;

	}

	#pop-menu .menu_pop a:hover{
		color: #fff;
		border-color: #300000;
		background-color: #f00;
	}

	/*===========================================================*/
}

@media(min-width:1300px){
	
}
@media(min-width:1920px){
	
}